<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>757813107783-fqd1ik2dd4461jj0fk8od349d8dmscue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757813107783-fqd1ik2dd4461jj0fk8od349d8dmscue</string>
	<key>API_KEY</key>
	<string>AIzaSyB-z7I731PYjYuZQ5l7y7a23zzQZnv1MCE</string>
	<key>GCM_SENDER_ID</key>
	<string>757813107783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CharlesChien.Get-together</string>
	<key>PROJECT_ID</key>
	<string>get-together-charles-chien</string>
	<key>STORAGE_BUCKET</key>
	<string>get-together-charles-chien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757813107783:ios:649804e768a4481e</string>
	<key>DATABASE_URL</key>
	<string>https://get-together-charles-chien.firebaseio.com</string>
</dict>
</plist>